* {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #FCEEF1;
    display: flex;
    justify-content: center;
    /* margin: 50px; */
    padding: 50px;

}

.first-left {
    width: 50%;
    margin-top: 250px;
}

.title {
    font-size: 50px;
    margin-bottom: 20px;
}

.paragraph {
    margin-bottom: 20px;
}

.primary-btn {
    color: #fff;
    background-color: #E55473;
    padding: 10px;
    border-radius: 5px;
}

.first-right {
    width: 50%;
}

/* second section start from here */

.features {
    text-align: center;
    margin-top: 50px;
}


.featured-all {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding: 30px;
}

.one-featured {
    background-color: #FCEEF1;
    padding: 40px;
    border-radius: 250px 250px 5px 5px;
}

.two-featured {
    background-color: #FCEEF1;
    padding: 40px;
    border-radius: 250px 250px 5px 5px;
}

.three-featured {
    background-color: #FCEEF1;
    padding: 40px;
    border-radius: 250px 250px 5px 5px;
}